
#Pingback
${DOLLAR}wgWBRepoSettings['wikibasePingback'] = false;

# load additional setting from LocalSettings.d
foreach (glob("/shared/LocalSettings.d/*.php") as ${DOLLAR}filename)
{
    include ${DOLLAR}filename;
}


